*.pkl
*.pyc
*.swp
*.swo
/unzipped
/unzipped/*
/zip
/zip/*
../*/RejectStatsA.csv
RejectStatsB.csv
LoanStats3a_securev1.csv
LoanStats3b_securev1.csv
LoanStats3c_securev1.csv
LoanStats3d_securev1.csv
all_api_data.csv
/data
/data/*
